{% extends "base.html" %}
{% load static %}

{% csrf_token %}
{% block content %}
<body>
  <form action='/vistasol/crearsol/' method='POST'>
    {% csrf_token %}
      {{form.as_p}}
    <button>
      Save
    </button>
  </form>
</body>
{% endblock %}

<!--
<div class="my-order">
  <div class="my-order-container">
      <div class="my-order-content">
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
          <form #solicitudForm = "ngForm" >
            <div class="form-group">
                <div class="order">
                  <p>
                    <span>Solicitante</span>
                    <input type="text" class="form-control" name = "solicitante"  placeholder="{{username}}" [(ngModel)] = "solicitudService.selectedSolicitud.solicitante" disabled>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Técnico 1</span>
                    <input type="text" class="form-control" name = "tecnico1" placeholder="{{username}}" [(ngModel)] = "solicitudService.selectedSolicitud.tecnico1" disabled>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Técnico 2</span>
                    <select name="tecnico2" class="form-control" [(ngModel)] = "solicitudService.selectedSolicitud.tecnico2" >
                      <option value="null">Seleccione una Persona </option>
                      <option value="Gilberto Ovalle">Gilberto Ovalle</option>
                      <option value="Erwin González">Erwin González</option>
                      <option value="Mauricio Varela">Mauricio Varela</option>
                      <option value="Jair Joyas">Jair Joyas</option>
                      <option value="Alejandro Gembuel">Alejandro Gembuel</option>
                      <option value="Andrés Gómez">Andrés Gómez</option>
                      <option value="Elkin Gómez">Elkin Gómez</option>
                      <option value="Jhon Alzate">Jhon Alzate</option>
                      <option value="Andrés Espinosa">Andrés Espinosa</option>
                      <option value="Cristian Uribe">Cristian Uribe</option>
                      <option value="Mauricio Arias">Mauricio Arias</option>
                      <option value="Nilton Zambrano">Nilton Zambrano</option>
                      <option value="No Aplica">No Aplica</option>
                    </select>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Responsable Asignaciones</span>
                    <select name="responsable_asignaciones" class="form-control" [(ngModel)] = "solicitudService.selectedSolicitud.responsable_asignaciones">
                      <option value="null">Seleccione una Persona </option>
                      <option value="Gilberto Ovalle">Gilberto Ovalle</option>
                      <option value="Erwin González">Erwin González</option>
                      <option value="Mauricio Varela">Mauricio Varela</option>
                      <option value="Jair Joyas">Jair Joyas</option>
                      <option value="Alejandro Gembuel">Alejandro Gembuel</option>
                      <option value="Andrés Gómez">Andrés Gómez</option>
                      <option value="Elkin Gómez">Elkin Gómez</option>
                      <option value="Jhon Alzate">Jhon Alzate</option>
                      <option value="Andrés Espinosa">Andrés Espinosa</option>
                      <option value="Cristian Uribe">Cristian Uribe</option>
                      <option value="Mauricio Arias">Mauricio Arias</option>
                      <option value="Nilton Zambrano">Nilton Zambrano</option>
                      <option value="No Aplica">No Aplica</option>
                    </select>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Actividad</span>
                    <select name="actividad" class="form-control" [(ngModel)] = "solicitudService.selectedSolicitud.actividad" >
                      <option value="null">Seleccione el </option>
                      <option value="Ajuste Físico">Ajuste Físico</option>
                      <option value="Drive Test">Drive Test</option>
                      <option value="Walk Test">Wolk Test (interiores)</option>
                      <option value="Prueba Servicio">Prueba Servicio</option>
                      <option value="Visita Carcel">Visita Carcel</option>
                      <option value="Ruta Ministerio">Ruta Ministerio</option>
                      <option value="Otra">Otra</option>
                    </select>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Departamento</span>
                    <select name="" [(ngModel)] = "selectedDepartamento.idDepartamento" [ngModelOptions]="{standalone: true}" class="form-control" (ngModelChange)="onSelectDepartamento($event)">
                      <option *ngFor="let deparamento of departamentos" value={{deparamento.idDepartamento}}>
                        {{deparamento.departamento}}
                      </option>
                    </select>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Municipio</span>
                    <select name="" class="form-control"
                    name="" [(ngModel)] = "selectedMunicipio.IdMunicipio" [ngModelOptions]="{standalone: true}" class="form-control" (ngModelChange)="onSelectMunicipio($event)">
                      <option *ngFor=" let municipio of municipios" value={{municipio.IdMunicipio}}>
                        {{municipio.municipio}}
                      </option>
                    </select>
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Días de Viáticos</span>
                    <input type="number" class="form-control" name = "dias_viaticos" placeholder="" [(ngModel)] = "solicitudService.selectedSolicitud.dias_viaticos">
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Días de Hotel</span>
                    <input type="number" class="form-control" name= "dias_hotel" placeholder="" [(ngModel)] = "solicitudService.selectedSolicitud.dias_hotel">
                  </p>
                </div>

                <div *ngIf="concepto_asigna_especiales.errors?.['required']">Campo requerido</div>
                <p>{{concepto_asigna_especiales.valid}}</p>
                <p></p>
                <div class="order">
                  <p>
                    <span>Concepto Asignaciones Especiales</span>
                    <input type="text"  class="form-control" name = "concepto_asigna_especiales"  placeholder="" [(ngModel)] = "solicitudService.selectedSolicitud.concepto_asigna_especiales" #concepto_asigna_especiales="ngModel" required >
                  </p>
                </div>

                <div class="order">
                  <p>
                    <span>Valor Asignaciones Especiales</span>
                    <input type="number" class="form-control" name = "valor_asigna_especiales" placeholder="" [(ngModel)] = "solicitudService.selectedSolicitud.valor_asigna_especiales" pattern="^[0-9]+$" inputmode="numeric">
                  </p>
                </div>

            </div>
                <button class="btn btn-primary mr-2">Guardar</button> 
            </form>
        </cdk-virtual-scroll-viewport>
      </div>
  </div>
</div>
-->



