{%extends 'base.html'%}
{% load static %}

{% csrf_token %}
{% block content %}
  <body>
    <div class="my-order">
      <ng-container>
        <input type="button" onclick="location.href='/vistasol/crearsol';" value="Nueva Solicitud Viáticos" class="primary-button login-button bg-info">
      </ng-container> 
      <ng-template  #aprobador>  </ng-template>
    
      <div class="my-order-container">
    
          <div class="my-order-content">
            <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
    
                <div class="order">
                  <p>
                      <span>solicitante</span>
                      <span>departamento, municipio</span>
                  </p>
                  <p>
                    <span>estado</span>
                    <span>fecha_aprob_teamco</span>
                  </p>
                </div>
            </cdk-virtual-scroll-viewport>
          </div>
    
      </div>
    </div>  
  </body>
{% endblock %}
